@import '../../vars/_index';

.worksHead-container{
    width: 100%;
    display: grid;
    grid-template-columns: 16% 16%  16% 16% 16% 16%;
    grid-template-rows: 20% 20% 20% 20% 20%;
   // background-color: $white-color;
    height: 393px;
    margin-bottom: 0;
    padding-top: 50px;

    &__text{
        grid-column-start: 1 ;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 
           

        &--bold{
            grid-column-start: 1 ;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
         // background-color: bisque;
            color:$bold-text-color ;
            font-size: $global-L-font-size ;
            margin:50px 120px 0 0;

        }

            &--p{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            //    background-color: brown;
                color: $text-color ;
                font-size: $global-M-font-size ;
                margin-right: 120px;
            }
        
    }

    &__img{
        grid-column-start: 5;
        grid-column-end:7 ;
        grid-row-start:1 ;
        grid-row-end: 5;
        width: 412px;
        height: 352px;


    }

}


.howWork-grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 10% 16% 16% 10% 16% 16%;
  //  background-color: $white-color;
    margin: 0;
    padding: 0;

   
    &__img{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 4;
        width: 100px;
        height: 100px;
        border-right: 5PX solid $green-bold-color ;
        padding-right: 30px;

        

        &--h4{
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start:1;
            grid-row-end: 2;
            color: $green-bold-color;
            font-size: $global-M-font-size;
            margin-bottom: 0px;

            &--p{
                grid-column-start: 2;
                grid-column-end:6;
                grid-row-start:2;
                grid-row-end: 4 ;
                color: $black-color;
                font-size: $global-M-font-size;

            }
        }
    }
}

.howWork-grid-container >li:nth-child(1){
  //  background-color:black;
    grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;

}

.howWork-grid-container>li:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
   // background-color: aqua;

}


.howWork-grid-container >li:nth-child(3){
    //background-color:black;
    grid-column-start: 4 ;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 4;

}

.howWork-grid-container >li:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;

}

.howWork-grid-container>li{
    margin: 10%;
    display: grid;
    grid-template-columns: 30% 20% 10% 20% 20%;
    grid-template-rows: 33% 33% 33%;

}

