@import '../../vars/_index';

.whyUs-container{
    width: 100%;
    display: grid;
    grid-template-columns: 16% 16% 20% 10% 16% 16% ;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-bottom: 100px;

    &__text{
            grid-column-start: 1 ;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 6;
        //    background-color: aqua;
           

        &--bold{
            grid-column-start: 1 ;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
      //      background-color: bisque;
            color:$bold-text-color ;
            font-size: $global-L-font-size ;
            margin:50px 150px 0 0;

      

            &--p{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;
            //    background-color: brown;
                color: $text-color ;
                font-size: $global-M-font-size ;
                margin-right: 150px;
            }
        }
        
    }

    &__img{
        grid-column-start:4;
        grid-column-end:6 ;
        grid-row-start:3 ;
        grid-row-end: 5;
        height: 120px;
        width: 500px;



    }

}