body {
    font-family: "Poppins", sans-serif;

    @include respond-to(mobile) {
        background-color: bisque;

        nav {

            &>img{
                width: 30%;
                height: 30%;
                padding: 10px;
        
            }
        }

        .header-container{

            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
     
             &__text{
                text-align: center;
                 
                 &--p{
                     font-size: $global-S-font-size;
                     
         
                     &--h1{
                         font-size: $global-M-font-size;
         
                         &--p{
                             font-size: $global-S-font-size;
     
                             &--p{
                                 font-size: 7px;
                             }
                         }
                     }
                 }
            }
     
             &__img{
                 width: 70%;
                 padding-right: 15%;
             }
         }

         .form-container{
            margin-top: 35%;
        
            &__text{
        
                &--inputs{
                    flex-direction: column;
        
                    &--input, &--select, &--button{
                        height: 33px;
                        width: 183px;
        
                    }
                }
            }
        }

        .offer-bold-text,
        .offer-text {
            margin-right: 50px;
        }


        .offer-grid-container{
           
            &__ol{
                grid-row-end: 3;
        
                &--il{
                   
           
                }
        
                
            }
            &__img{
                grid-column-start: 6;
                grid-column-end: 9;
                grid-row-start:4;
                grid-row-end: 7;
                width: 50%;
                height: 90%;
            }
        }
        
        .info-container {
            justify-content: center;
            flex-direction: column;
            letter-spacing: 0;
            width: 60%;
            margin-right: 20%;
            
        }
    }

    @include respond-to(tablet) {
        background-color: blueviolet;

        nav {

            &>img{
                width: 20%;
                height: 20%;
                padding: 20px;
        
            }
        }

    .header-container{

       padding-right: 10px;

        &__text{
            color: $text-color;
            width: 50%;
            
            &--p{
                font-size: $global-S-font-size;
    
                &--h1{
                    font-size: $global-M-font-size;
    
                    &--p{
                        font-size: $global-S-font-size;

                        &--p{
                            font-size: 7px;
                        }
                    }
                }
            }
       }

        &__img{
            width: 70%;
            padding:0px;
        }
    }

    
    .form-container{
        margin-top: 20%;
    
        &__text{
    
            &--inputs{
    
                &--input, &--select, &--button{
                    height: 33px;
                }
            }
        }
    }

    }

    @include respond-to(desktop) {
        background-color: aqua;

    }

    @include respond-to(LDesktop) {
        max-width: 1440px;
        margin: 0 auto;

      
        // font-family: "Poppins", sans-serif;
    }
}
