@mixin windowWidth ($winwidth: 1440px, $winMarg: 0 auto) {
    max-width: $winwidth;
    margin: $winMarg;
}

@mixin btn($bkgnd: linear-gradient(90deg, #CB33F9 0%, #520199 100%)) {
    background: $bkgnd;
    color: white;
    border-radius: 8px;
    border: none;
    width: 16vw;
    min-width: 200px;
    height: 53px;
    font-size: 24px;
}

@mixin itemStyle($itemMargin: 10% 0%) {
    background-color: white;
    margin: $itemMargin;
    max-width: 480px;
    min-width: 250px;
    border-radius: 20px;
    box-shadow: $itemShadow;    
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
}

@mixin itemImageStyle {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    border-bottom: 5px solid $purpleColor;
}

@mixin itemHeaderStyle {
    margin: 5% 0% 0% 0%;
    font-size: 1.8rem;
    color: $purpleColor;

    @media screen and (min-width: 768px) {
        font-size: 1.6rem;
    }
}

// @mixin respond-to($breakpoint) {
//     @if $breakpoint == mobile {
//         @media (max-width: 767px) {
//             @content;
//         }
//     }

//     @if $breakpoint == tablet {
//         @media (min-width: 767px) and (max-width: 1023px) {
//             @content;
//         }
//     }

//     @if $breakpoint == desktop {
//         @media (min-width: 1024px) and (max-width: 1400px) {
//             @content;
//         }
//     }

//     @if $breakpoint == LDesktop {
//         @media (min-width: 1400px) {
//             @content;
//         }
//     }
// }