@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (min-width: 768px) and (max-width: 1199px) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width: 1200px) and (max-width: 1400px) {
            @content;
        }
    }

    @if $breakpoint == LDesktop {
        @media (min-width: 1400px) {
            @content;
        }
    }
}
