@import '../../vars/_index';

.info-container{
    width: 722px;
    height: 71px;
    margin: 0 120px 40px 0;
    background-color: $info-background-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
  

    &__icon{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--link{
            color: $info-text-color;
            font-size: $global-M-font-size;
            margin-left: 15px;

            &--img{
                width: 40px;
                height: 40px;
                padding: 5px;
            }
        }

    }
}

