@import "./vars/_index";
@import "./mixin/index";

html,
body {
    margin: 0;
    padding: 0;
}

// .footer-base {
//     background-color: aqua;

//     &__link {
//         //footer-base__link
//         font-weight: bold;

//         & > img {
//         }

//         &--img {
//             //footer-base__link--img
//             width: 50%;
//         }
//     }
// }

@import "./body/body";
@import "./components/navBar/_navBar";
@import "./components/header/_header";
@import "./components/ContactInfo/ContactInfo";
@import "./components/form/from";
@import "./components/offer/offer";
@import "./components/howWorks/howWorks";
@import "./components/whyUs/whyUs"
