@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./vars/_index";
@import "./mixin/index";

* {
    transition: .2s;
}

body {
    margin: 0;
    padding: 0;
    font-family: $textFontFamily;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 2.5rem;
    color: $purpleColor;
    font-family: $headerFontsFamily;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 1.3rem;
}

button {
    cursor: pointer;
}

.elementWidth {
    @include windowWidth($winwidth: 90%);

    @media screen and (min-width: 768px) {
        // @include windowWidth;
        max-width: 1440px;
        margin: 0% 3%;
    }

    @media screen and (min-width: 1440px) {
        margin: 0 auto;
    }
}



.top-elements-bkg,
.bottom-elements-bkg {
    background-repeat: no-repeat;
    background-size: cover;
}

.top-elements-bkg {
    background-image: url("./components/new-components/bkg/bck\ top.webp");

}

.bottom-elements-bkg {
    background-image: url("./components/new-components/bkg/bck\ down.webp");
}


.notFound {
    height: 100vh;
}

.errorFunc {
    height: 75vh;
}

.errorsPages {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-bottom: 20%;

        @media screen and (min-width: 768px) {
            margin-bottom: 15%;
        }
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 6rem;
    }

    p {
        margin-bottom: 20%;

        @media screen and (min-width: 768px) {
            margin-bottom: 5%;
        }
    }

    &__btnBack {
        @include btn;
    }
}

// .dontssss {

// .slick-dots li.slick-active button:before {
//     color: red;
// }

// color: red;
// background-color: aqua;
// color: blue !important;
// li {
//     margin: 0 0 3rem !important;
//     // list-style: none;
// }

// button::after {

//     color: red;
// }

// button::before {
//     font-size: 2rem;
//     color: orange;
// }

// width: 50%;
// width: 15ch;
// }


// .slick-dots li.slick-active button:before {
//     background-color: aquamarine;
// }

@import "./components/new-components/navbar";
@import "./components/new-components/header";
@import "./components/new-components/about";
@import "./components/new-components/offer";
@import "./components/new-components/how-work";
@import "./components/new-components/projects";
@import "./components/new-components/feedbacks";
@import "./components/new-components/FAQ";
@import "./components/form/from";
@import "./components/new-components/footer";
@import "./components//new-components/blog";
@import "./components//new-components/post";