@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./vars/_index";
// @import "./mixin/index";

body {
    margin: 0;
    font-family: $textFontSize;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2,
h3 {
    font-family: $headerFontsSize;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    color: #7D1F99;
}

p {
    font-size: 1.3rem;
}

button {
    cursor: pointer;
}

.contact-form {
    background-color: #F5F5F5;

    &__element {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        div {
            width: 50%;
        }
    }
}


@import "./components/new-components/navbar";
@import "./components/new-components/header";
@import "./components/new-components/how-work";
@import "./components/new-components/projects";
@import "./components/new-components/feedbacks";

// @import "./body/body";
// @import "./components/navBar/_navBar";
// @import "./components/header/_header";
// @import "./components/ContactInfo/ContactInfo";
// @import "./components/form/from";
// @import "./components/offer/offer";
// @import "./components/howWorks/howWorks";
// @import "./components/whyUs/whyUs";
// @import './components/callUs/callUs';
// @import './components/footer/footer'