@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./vars/_index";
@import "./mixin/index";

* {
    transition: .2s;
}

body {
    margin: 0;
    padding: 0;
    font-family: $textFontSize;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 2.5rem;
    color: $purpleColor;
    text-align: center;
}

p {
    font-size: 1.3rem;
}

button {
    cursor: pointer;
}

.elementWidth {
    @include windowWidth($winwidth: 90%);

    @media screen and (min-width: 768px) {
        @include windowWidth;
    }
}

.top-elements-bkg {
    background-image: url("./components/new-components/bkg/bck\ top.png");
    background-repeat: no-repeat;
}

.bottom-elements-bkg {
    background-image: url("./components/new-components/bkg/bck\ down.png");
    background-repeat: no-repeat;
}

@import "./components/new-components/navbar";
@import "./components/new-components/header";
@import "./components/new-components/about";
@import "./components/new-components/offer";
@import "./components/new-components/how-work";
@import "./components/new-components/projects";
@import "./components/new-components/feedbacks";
@import "./components/form/from";
@import "./components/new-components/footer";