@import "../../vars/_index.scss";

.header-container {
    width: 85%;
    margin: 40px 120px 80px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text{
        width: 50%;
        color: $text-color;
        
        &--p{
            font-size: $global-M-font-size;

            &--h1{
                font-size: $global-XL-font-size;
                margin: 0;

                & >span{
                    margin-right: 10px;
                    color: $bold-text-color;
                }

                &--p{
                    font-size: $global-M-font-size;
                    margin: 10px;

                    & >span{
                        margin-right: 10px;
                        color: $bold-text-color;
                    }

                    &--p{
                        font-size: $global-XS-font-size;
                        margin: 10px;
                    }
                }
            }
        }

    }

    &__img{
        width: 100%;
    }
  
}

