@import "../../vars/_index.scss";

.header-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__text{
        color: $text-color;
        width: 50%;
        
        &--p{
            font-size: $global-M-font-size;

            &--h1{
                font-size: $global-L-font-size;

                & >span{
                    margin-right: 10px;
                    color: $bold-text-color;
                }

                &--p{
                    font-size: $global-M-font-size;

                    & >span{
                        margin-right: 10px;
                        color: $bold-text-color;
                    }

                    &--p{
                        font-size: $global-S-font-size;
                        margin-top: 10px;
                    }
                }
            }
        }

    }

    &__img{
        width: 100%;
    }
  
}

