@import "../../vars/_index.scss";

.header-container {
    width: 85%;
    margin: 2.5rem 7.5rem 5rem 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text{
        width: 50%;
        color: $text-color;
        
        &--p{
            font-size: $global-M-font-size;

            &--h1{
                font-size: $global-XL-font-size;
                margin: 0;
                background-color: $body-background-color;

                & >span{
                    margin-right: 0.625rem; //10px
                    color: $bold-text-color;
                }

                &--p{
                    font-size: $global-M-font-size;
                    margin: 0.625rem; //10px

                    & >span{
                        margin-right: 0.625rem; //10px
                        color: $bold-text-color;
                    }

                    &--p{
                        font-size: $global-XS-font-size;
                        margin: 0.625rem; //10px
                    }
                }
            }
        }

    }

    &__img{
      width:25rem; // 412px;
       height:22rem; // 352px;
    }
  
}

