@import '../../vars/index';

@include respond-to(mobile) {
    
    body{

     //width: 360px;
     
      
            //nav
          nav{
            background-color: $white-color;
            height: 5rem; //60px;

         &>img{
            width: 7rem; // 96px;
            height:2.75rem; // 37px;
           // margin: -1rem -1rem 0 0 ;
         }
          }
          
          
              //header
          
              .header-container {
                width: 100%;
                  justify-content: center;
                 // background-color: aqua;
                 margin: auto;
                 flex-direction: column;
                 text-align: center;
          
                  &__text{
               width: 100%;
                      &--p{
                          font-size: $global-mobile-L-font-size;
              
                          &--h1{
                              font-size: $global-M-font-size;

                              & >span{
                                margin-right: 0.3rem;
                            }
              
                              &--p{
                                  font-size: $global-mobile-L-font-size;
                                margin-right: 0;

                                & >span{
                                    margin-right: 0.3rem;
                                }

                            
          
                                  &--p{
                                      font-size:$global-mobile-S-font-size;
                                      margin-right: 0;                        }
                              }
                          }
                      }
              
                  }
              
                  &__img{
                    display: none;
                  }
                
              }
             
              //
          
              .info-container{
                 margin: auto;
                  width: 20rem;
                  height: 7.5rem;
                  background-color: $body-background-color;
                  flex-direction: column;

                  &__icon{
                    height: 2.5rem; 
                    width: 20rem;
                    background-color: $green-bold-color;
                    flex-direction: row-reverse;
                    justify-content: center;
                    border-radius: 5px;
                    margin: 0.3rem auto;

              
                      &--link{
                     
                          font-size:$global-mobile-L-font-size;
                          margin-right: 0.625rem;
                          text-decoration: none;
              
                          &--img{
                              width: 1rem; // 17px;
                              height:1rem; // 17px;
                              padding: 0;
                          }
                      }
              
                  }
              }
              //form
              .form-container {
                width: 19.375rem; // 310px;
                height: 18rem; // 288px;
                border-radius: 8px;
                margin: 2.5rem auto;
          
                  &__text {
                    margin: 0;
                    text-align: center;
                     padding-top:1.25rem; // 20px;
                      font-size: $global-S-font-size;

          
                      &--p {
                        margin: 0;
                         text-align: center;
                         padding: 0;
                          font-size: 0.75rem;
                          &--inputs {
                          margin: auto;
                          padding: 0;
                         flex-direction: column;

                              &--input, &--select, &--button  {
                                width: 12.375rem; // 198px;
                                height:1.875rem; // 30px;
                                border-radius: 3.74px;
                                font-size: 0.75rem;
                                margin: 5px 0;
                                padding: 0;
                              }
                              &--select{
                                padding-right: 0.625rem; // 10px;
                              }
                              &--button {
                              &--bold{
                                font-size: 0.75rem;
                                  width:12.375rem; // 198px;
                                height: 1.875rem; // 30px;

                              }
                            }
                          }
                      }
                  }
              }
          
              .input-container{
                margin: 0;
              }

             
              .form-container__text--p--inputs--input{
                font-size: 0.75rem;
          
              }
              .labelLine{
                font-size:0.75rem;
              }

              .input-container input:focus ~ label,
              .input-container input:valid ~ label{
                font-size:0.4rem;
                top: 0.7rem;
                background-color: $white-color;

              }

             
              .icon-container {
                  top: 0.625rem;
                  left: 0.625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                }
                
              .icon-container>img {
                width: 0.625rem;
                height: 0.625rem;
                }

                .message{
                    font-size: 0.6rem;
                    margin: 4px auto;
                  //  font-style: italic;
               
                }
                .loader-container{
                  width: 19.4rem;
                  height: 18rem;
                  border-radius: 8px;
                }
              //offer
          
              .offer-container{
                width: 100%;
           // background-color: bisque;
            padding-top: 1.25rem;


              }
              .offer-bold-text{
               text-align: center;
                font-size: $global-M-font-size ;
                margin: 10px 0 0 0 ;
          
              } 
              .offer-text{
                text-align: center;
                  font-size: $global-mobile-L-font-size ;
                  margin-bottom: 0;
                  margin: 0;
                  padding-bottom: 10px;
          
              }
          
              .offer-grid-container{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
                height: 31.25rem;
                
             
                  &__ol{
                padding-right: 0;
                margin: 0;
                      &--li{
                        width: 12.5rem;
                        height: 7.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                      //  grid-template-columns: 20% 10% 5% 35% 30%;
                        margin: auto;

                          &--img{
                              width: 1.87rem;
                              height: 1.87rem;
                              border-right: none;
                             padding-left: 10x;
                            padding: 0;
                      
                              &--h4{
                                text-align: start;
                            font-size: $global-mobile-L-font-size;
//background-color: aqua;
          
                                  &--p{
                                    font-size: $global-mobile-L-font-size;
                                   text-align: start;

          
               
              
                                  }
                              }
                          }
                          
                      }
                      
                  }
                  &__img{
                      width: 4.5rem;
                      height: 6.5rem;
                     // padding-right: 20px;
                        margin:0 auto;
                  }
              }


              .text-mobile-container{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-right: 1.5rem;
              }
         /*.offer-container-mobile{
            background-color: $form-background-color;
            width:320px;
           height:492px;
           border-radius: 8px;
           display: flex;
           align-items: center;
           justify-content: center;
           margin: 0 auto;
         }*/

              //howWork
          
              .worksHead-container{
                 height:15.6rem;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 flex-direction: column;
                 padding-top: 4rem;
          
                  &__text{
                   margin: 1.25rem auto 0.6rem auto;

                      &--bold{
                        text-align: center;
                        font-size: $global-M-font-size ;
                        margin: 0;
                        
          
                      }
                          &--p{
                            text-align: center;
                            font-size: $global-mobile-L-font-size ;
                            margin-bottom: 0;
                            margin: 0;
                            padding-bottom: 0.6rem;
                          }
                      
                  }
              
                  &__img{
                  /*  width: 5rem;
                    height: 6.2rem;
                    display: flex;
                    align-items: center;
                    justify-content:flex-end;
                    flex-direction: column;
                    //background-color: $form-background-color;
                    border-radius: 8px 8px 0 0;*/


                    &--mobile{
                    /* width: 236px;
                      height: 108px;
                      display: flex;
                      align-items: center;
                      justify-content:flex-end;
                      flex-direction: column;
                     // background-color: $white-color;
                      border-radius: 8px 8px 0 0;*/

                      &>img{
                        width: 7rem;
                       height: 6.2rem;
                        margin-bottom: 15px;
                      }
                    }
                  }
          }

          .howWork-grid-container-mobile{
            //background-color: $form-background-color;
           // width: 320px;
            //height: 400px;
           // border-radius: 0 0 8px 8px;
            display: flex;
            align-items: center;
            justify-content:flex-start;
            flex-direction: column;
            margin:0 auto;


            
          }
              
              .howWork-grid-container{
               // background-color: $white-color;
               // width: 236px;
               // height: 358px;
               // border-radius: 0 0 8px 8px;
                display: flex;
                align-items: center;
                justify-content:flex-start;
                flex-direction: column;
                margin-top: -2px;

                &>li{
                  width: 18rem;
                  height: 5.125rem;
                  padding: 1rem 0;
                }

             
                  &__img{
                      width:1.9rem;
                      height: 1.9rem;
                      border-right: none;
                      padding-right: 1.25rem;

              
                      &--h4{
                       // grid-column-start: 2;
                       // grid-column-end: 6;
                       // grid-row-start:1;
                       // grid-row-end: 3;
                          font-size: $global-mobile-L-font-size;
                          //color: $black-color;
                          width: 12.5;

              
                          &--p{
                                  font-size: $global-XS-font-size;
                                  padding-left: 1.25rem;
              
                          }
                      }
                  }

              } 
              .howWork-grid-container>li{
                  margin: 0  0 0 10px;
                 // background-color: aqua;
              
              }
          
          
              //whyUs
              .whyUs-container{  
               // display: none;
                width: 100%;
              //  height: 25rem;
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-direction: column;
                background-color: $white-color;
                //margin: 1.8rem 0;

                  &__text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 2rem;

                      &--bold{
                        margin: 0;
                          font-size: $global-M-font-size;
                         // color: $black-color;
                          //margin-right: 10%;
                          margin-bottom: 1rem;
          
                          &--p{
                            margin: 0 ;
                            margin-right: 0.5rem;
                          //  grid-column-end:7;
                              font-size: $global-mobile-L-font-size;
                            //  margin-right: 5%;


                              &>br{
                                display: none;
                              }
                          }
                      }   
                  }
              
                  &__img{
                   // background-color: $body-background-color;
                   // display: none;
                      height:6.25rem;
                      width:7.5rem;
                      margin: 0;  
              
              
                  }
              
              }
              .contact-container{
                background-color: $white-color;
               // display: none;
                width: 100%;
              }          
          

          .whyUs-mobile{
         //  width: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          margin-top: 3rem ;
          }

          .whyUs-mobile>.contact-container>.info-container{
            background-color: $white-color;
          }




//footer

.footer-container {
  height: 6.9rem;
  flex-direction: column;
  background-color: $white-color;

    &__link {
        &--img {
            width: 2.25rem;
            aspect-ratio: 1/1;   
        padding: 0  0.5rem ;
        margin-bottom: -0.5rem;

        }
    }
}


.footer-contact-container{
  display: none;
}


.footer-container >img{
    Width: 10rem;
    Height: 4.5rem;
    margin-bottom: -2rem;

}
}
}


