@import '../../vars/index';

@include respond-to(mobile) {
    
    body{
      
            //nav
          nav{
            background-color: $navar-background-color-mobile;
            height: 60px;

         &>img{
            width: 96px;
            height: 37px;
            margin: 10px 10px 0 0 ;
         }
          }
          
          
              //header
          
              .header-container {
                  justify-content: center;
                 // background-color: aqua;
                 margin: auto;
                 flex-direction: column;
                 text-align: center;
          
                  &__text{
               width: 80%;
                      &--p{
                          font-size: $global-XS-font-size;
              
                          &--h1{
                              font-size: $global-S-font-size;

                              & >span{
                                margin-right: 5px;
                            }
              
                              &--p{
                                  font-size: $global-XS-font-size;
                                margin-right: 0;

                                & >span{
                                    margin-right: 5px;
                                }

                            
          
                                  &--p{
                                      font-size: 8px;
                                      margin-right: 0;                        }
                              }
                          }
                      }
              
                  }
              
                  &__img{
                    display: none;
                  }
                
              }
             
              //
          
              .info-container{
                 margin: auto;
                  width: 310px;
                  height: 30.48px;

                  &__icon{
              
                      &--link{
                          font-size:10px;
                          margin-left: 10px;
              
                          &--img{
                              width: 17px;
                              height: 17px;
                              padding: 0;
                          }
                      }
              
                  }
              }
              //form
              .form-container {
                width: 264px;
                height: 288px;
                border-radius: 8px;
                margin: 15px auto;
          
                  &__text {
                    margin: 0;
                    text-align: center;
                     padding-top: 15px;
                      font-size: $global-S-font-size;

          
                      &--p {
                        margin: 0;
                         text-align: center;
                         padding: 0;
                          font-size: 12px;
                          &--inputs {
                          margin: auto;
                          padding: 0;
                         flex-direction: column;

                              &--input, &--select, &--button  {
                                width: 198px;
                                height: 30px;
                                border-radius: 3.74px;
                                font-size: 8.42px;
                                margin: 5px 0;
                                padding: 0;
                              }
                              &--select{
                                padding-right: 10px;
                              }
                              &--button {
                              &--bold{
                                font-size: 8.42px;
                                  width: 198px;
                                height: 30px;

                              }
                            }
                          }
                      }
                  }
              }
          
              .input-container{
                margin: 0;
              }

             
              .form-container__text--p--inputs--input{
                font-size: 8.42px;
          
              }
              .labelLine{
                font-size: 8.42px;
              }

              .input-container input:focus ~ label,
              .input-container input:valid ~ label{
                font-size: 8.42px;
                top: 12px;
                background-color: $white-color;

              }

             
              .icon-container {
                  top: 10px;
                  left: 10px;
                  width: 10px;
                  height: 10px;
                }
                
              .icon-container>img {
                  width: 10px;
                  height: 10px;
                }
              //offer
          
              .offer-bold-text{
                  margin-right: 40px;
                  font-size: $global-M-font-size ;
          
              } 
              .offer-text{
                  margin-right: 40px;
                  font-size: $global-S-font-size ;
                  margin-bottom: 0;
          
              }
          
              .offer-grid-container{
          
                  &__ol{
                padding-right: 0;
                      &--li{
                          &--img{
                              width: 80px;
                              height: 80px;
                      
                              &--h4{
                                  grid-column-end: 5;
                                  font-size: $global-S-font-size;
          
                                  &--p{
                                      grid-column-end: 5;
                                      font-size: $global-XS-font-size;
          
               
              
                                  }
                              }
                          }
                          
                      }
                      
                  }
                  &__img{
                      width: 204px;
                      height: 362px;
                  }
              }
              //howWork
          
              .worksHead-container{
              
                  grid-template-rows: 20% 20% 20% 20% ;
                  padding-top: 0;
                  height: 250px;
          
                  &__text{
                      &--bold{
                          margin:30px 40px 0 0;
                          font-size: $global-M-font-size;
          
                      }
                          &--p{
                              font-size: $global-S-font-size;
                              margin-right: 40px;
                          }
                      
                  }
              
                  &__img{
                      grid-row-start:2 ;
                      width: 212px;
                      height: 152px;
                  }
          }
              
              .howWork-grid-container{
             
                  &__img{
                      width: 70px;
                      height: 70px;
              
                      &--h4{
                          margin-right: 30px;
                          font-size: $global-XS-font-size;
              
                          &--p{
                            margin-right: 30px;
                            font-size: $global-XS-font-size;
              
                          }
                      }
                  }
              }
              
           
              .howWork-grid-container>li{
                  margin: 0 10% 5% 5%;
              
              }
          
          
              //whyUs
              .whyUs-container{
                  &__text{
          
                      &--bold{
                          margin-right: 40px;
                          margin-bottom: 30px;
                          font-size: $global-M-font-size;
          
                          &--p{
                              margin-right: 40px;
                              font-size: $global-S-font-size;
                          }
                      }   
                  }
              
                  &__img{
                      grid-column-start:4;
                      grid-row-start:2 ;
                      height:124.34px;
                      width:200.95px;
                      margin-right: 100PX;
              
              
              
                  }
              
              }
          
              .footer-container {
                  height: 103px;
              
                  &__link {
                      &--img {
                          width: 15px;
                          padding: 3px;
                      }
                  }
              }
             
              
              .contact-container{
                  font-size: $global-XS-font-size;
              
              
                  &__div{
              
                      &--img{
                          width: 10px;
                          height: 10px;   
              
                      }
                  }
              
              }
          
              .footer-container >img{
                  Width: 330px;
                  Height: 113px;
              }
          
          }
}

;
