@import '../../vars/_index';

.callUs-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 250px;

    &__text {
        color: $green-bold-color;
    }

}