@import "../../vars/index";

nav {
    background-color: $navar-background-color;
   // position: fixed;
  //  top: 0;
   // right: 0;
    width: 100%;
    height: 80px;

    &>img{
      width: 206px;  
      height: 91px;
      margin-right: 80px;
    }
}


