@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@1,300&family=Zilla+Slab:wght@500&display=swap');

$body-background-color:#fcfafa;

$text-color:#000000;

$bold-text-color:#9747FF;

$navar-background-color: #FFFFFF; 

$info-background-color: #8902FF;

$info-text-color: #ffffff;

$form-background-color:#E2D2F7;

$form-input-background-color:#FFFFFF;

$form-button-background-color:#8902FF;

$form-button-background-hover-color:#6b0ac0;





$global-L-font-size: 40px; 

$global-M-font-size: 24px; 

$global-S-font-size: 14px; 