// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@1,300&family=Zilla+Slab:wght@500&display=swap');
@font-face {
    font-family: myFirstFont;
    src: url("../fonts/VarelaRound-Regular.ttf");
  }
  

// @import url("../fonts/VarelaRound-Regular.ttf");

$white-color: #FFFFFF;
$black-color:#000000;
$green-bold-color: #8902FF;
//$green-regular-color:background: #8902FF;


$body-background-color:#fcfafa;

$text-color: $black-color;
$bold-text-color:$green-bold-color;

$navar-background-color: $white-color; 

$info-background-color: $green-bold-color;
$info-text-color: $white-color;

$form-background-color:#E2D2F7;
$form-input-background-color: $white-color;
$form-button-background-color: $green-bold-color;
$form-button-background-hover-color:#6b0ac0;

$offer-li-border: $green-bold-color;







$global-L-font-size: 40px; 

$global-M-font-size: 24px; 

$global-S-font-size: 14px; 