.about {
    padding: 5% 0%;

    @media screen and (min-width: 768px) {
        padding: 3% 0%;
    }

    &__info {
        padding: 5% 0%;
        display: grid;
        grid-template-columns: 1fr;

        @media screen and (min-width: 768px) {
            padding: 3% 0%;
            align-items: center;
            grid-template-rows: 0.3fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1200px) {
            grid-template-rows: 0.3fr 1fr 1fr;
            grid-template-columns: 2fr 1.5fr;
        }

        h2 {
            margin: 0;

            @media screen and (min-width: 768px) {
                grid-area: 1 / 1 / 2 / 3;
            }
        }

        &--text {
            text-align: center;

            span {
                font-weight: 600;
            }

            @media screen and (min-width: 768px) {
                grid-area: 2/1/3/2;
                text-align: start;
            }

            @media screen and (min-width: 1200px) {
                grid-area: 2/1/3/2;
                font-size: 1.5rem;
            }
        }

        &--logo {
            width: 50%;

            img {
                width: 100%;
            }

            @media screen and (min-width: 768px) {
                grid-area: 3 / 1 / 4 / 2;
                width: 40%;
            }
        }

        &--image {
            position: relative;
            left: -5.5%;
            
            @media screen and (min-width: 768px) {
                // position: static;
                display: flex;
                grid-area: 1 / 2 / 4 /3;
                // justify-content: flex-end;
                width: 100%;
                left: -6.5%;
            }
            @media screen and (min-width: 1200px) {
                position: static;
                display: flex;
                grid-area: 1 / 2 / 4 /3;
                justify-content: flex-end;
                width: 100%;
            }

            img {
                width: 100%;

                @media screen and (min-width: 786px) {
                    height: 80%;
                }

                @media screen and (min-width: 1100px) {
                    height: 100%;
                }
            }
        }
    }
}