.feedbacks {
    padding: 10% 0%;

    @media screen and (min-width: 768px) {
        padding: 5% 0% 10% 0%;
        // @include windowWidth($winMarg: 7% auto);
    }

    // @include windowWidth($winMarg: 0 3%);

    @media screen and (min-width: 768px) {
        // @include windowWidth($winMarg: 7% auto);
    }

    h2 {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 7px 5px white;

        @media screen and (min-width: 768px) {
            background: none;
            box-shadow: none;
        }
    }

    &__main {
        &--feedback {
            // margin: 2% 0%;
            max-width: 500px;
            // height: 300px;
            background-color: white;
            box-shadow: $itemShadow;
            margin: 3% 3%;
            // border: 1px solid black;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-items: start;
            box-sizing: border-box;
            padding: 2% 5%;
            border-radius: 25px;

            h3 {
                // margin: 0;
                background-color: white;
                font-family: $headerFontsSize;
                font-weight: 400;
                font-size: 1.5rem;
            }

            p {
                color: #444343;
                margin: 0;
                grid-area: 2 / 1 / 3 / 3;
                font-size: 20px;
            }
        }
    }
}

.slick-dots {
    & li {
        & div {
            background-color: aqua;
            // color: red;
        }
    }

    // background-color: aqua;
    // color: red;
}

.slick-active {
    // &>div {
    //     color: red;
    // }

    // button {
    //     &::before {
    //         // background-color: aqua;
    //     }
    // }

    // background-color: aqua;
    // color: white;
}