.feedbacks {
    @include windowWidth($winMarg: 7% auto);

    &__main {
        &--feedback {
            width: 630px;
            margin: 0 auto;
            height: 200px;
            border: 1px solid black;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-items: start;
            box-sizing: border-box;
            padding: 0% 5%;

            h3 {
                margin: 0;
                font-size: 1.5rem;
            }

            p {
                margin: 0;
                grid-area: 2 / 1 / 3 / 3;
            }
        }
    }
}