.footer-container {
    padding: 10% 0%;
    // margin-bottom: 10%;
    // margin: 0% 0% 10% 0%;

    @media screen and (min-width: 768px) {
        padding: 1% 0%;
        // margin: 1% auto;
    }

    &>div {
        // @include windowWidth($winMarg: 0% 0%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: 0 auto;

        @media screen and (min-width: 1120px) {
            flex-direction: row;
        }

        // @media screen and (min-width: 1440px) {
        // }

        .logo-url {
            display: flex;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }

    .logo-img {
        width: 200px;
        height: 100%;
        margin: 12% auto;
    }

    &__social,
    &__phone,
    &__email,
    &__phone--deal {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4% 0%;

        @media screen and (min-width: 768px) {
            padding: 0% 5%;
            margin: 0%;
        }
    }

    &__social {
        box-sizing: border-box;
        // padding: 0% 20%;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding: 0% 10%;
        }
    }

    &__phone,
    &__email {
        img {
            box-sizing: border-box;
            margin-right: 4%;
        }
    }

    &__phone--deal {
        flex-direction: column;
        width: 15ch;
    }
}