.header {
    @include windowWidth;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        height: 670px;
    }

    &__text {
        width: 90%;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            margin: 0% 3%;
            width: 40%;

        }

        @media screen and (min-width: 1300px) {
            width: 50%;
        }

        @media screen and (min-width: 1440px) {
            margin: 0% auto;
        }

        p {
            font-family: $headerFontsSize;
            font-size: 2.5rem;
            color: #7D7D7D;

            @media screen and (min-width: 1300px) {
                margin: 15% 0%;
                font-size: 3rem;
            }
        }

        h1 {
            font-size: 3rem;
            font-family: $headerFontsSize;
            font-weight: 200;

            @media screen and (min-width: 1300px) {
                font-size: 3.5rem;
            }
        }

        button {
            margin: 22% 0%;
            background: linear-gradient(90deg, #CB33F9 0%, #520199 100%);
            width: 325px;
            height: 53px;
            font-size: 24px;
            color: white;
            border-radius: 8px;
            border: none;

            @media screen and (min-width: 1300px) {
                margin: 5% 0%;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 60%;
        }

        @media screen and (min-width: 1300px) {
            width: 50%;
        }

        img {
            width: 100%;
        }
    }
}