.how-work {
    background-color: $sectionEggColor;

    &__info {
        @include windowWidth($winMarg: 0% 3%);
        background-image: url("./how-work/Vector.svg"), url("./how-work/Vector-1.svg");
        background-size: 30%, 20%;
        background-repeat: no-repeat, no-repeat;
        background-position: 2vw 60px, 25vw 10px;
        box-sizing: content-box;
        padding: 20px 0;

        @media screen and (min-width: 768px) {
            background-size: 20%, 15%;
        }

        @media screen and (min-width: 1440px) {
            margin: 0 auto;
            background-size: 13.5%, 10%;
            background-position: 126px 133px, 331px 73px;
        }

        &--more {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 15% 0%;
            padding: 0;

            @media screen and (min-width: 768px) {
                box-sizing: border-box;
                gap: 5%;
                margin: 8% 0%;
                grid-template-columns: repeat(2, 1fr);
            }


            &__list {
                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 0.8fr 2fr;
                }

                img {
                    display: flex;
                    width: 100%;
                    margin: 5% 0%;

                    @media screen and (min-width: 768px) {
                        grid-area: 1 / 1 / 3 / 2;
                        height: 100%;
                    }
                }

                li {
                    list-style: decimal inside none;
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }
        }
    }
}