.how-work {
    &__info {
        box-sizing: content-box;
        text-align: center;

        @media screen and (min-width: 768px) {
            padding: 0% 0% 8% 0%;
        }

        h3 {
            margin: 0% 0% 20% 0%;
            font-size: 1.5rem;

            @media screen and (min-width: 500px) {
                margin: 0% 0% 7% 0%;
            }

            @media screen and (min-width: 768px) {
                margin: 0% 0% 10% 0%;
            }
        }

        &--more {
            display: grid;
            justify-items: center;
            padding: 0;

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: 1100px) {
                grid-template-columns: repeat(4, 1fr);
            }

            &__item {
                @include itemStyle($maxWidth: 400px);
                // margin: 20% 0%;
                // display: flex;
                // flex-direction: column;
                align-items: center;
                // background-color: white;
                // border-radius: 35px;
                // box-shadow: $itemShadow;
                // padding-bottom: 10%;

                @media screen and (min-width: 500px) {
                    margin: 10% 5%;
                    // max-width: 400px;
                }

                @media screen and (min-width: 768px) {
                    // width: 250px;
                }

                @media screen and (min-width: 1100px) {
                    // margin: 0% 0%;
                    // max-width: 250px;
                    // max-width: 400px;
                }

                img {
                    position: relative;
                    top: -20%;
                }

                h3 {
                    // list-style: decimal inside none;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    top: -5%;
                }

                p {
                    text-align: center;
                    box-sizing: border-box;
                    padding: 0% 5%;
                    position: relative;
                    top: -5%;

                }
            }
        }
    }
}

/*


        @media screen and (min-width: 768px) {
            // background-size: 20%, 15%;
        }

        @media screen and (min-width: 1440px) {
            // margin: 0 auto;
            // background-size: 13.5%, 10%;
            // background-position: 126px 133px, 331px 73px;
        }

        &--more {
            // display: grid;
            // grid-template-columns: repeat(1, 1fr);
            // margin: 15% 0%;
            // padding: 0;

            @media screen and (min-width: 768px) {
                // box-sizing: border-box;
                // row-gap: 10%;
                // column-gap: 5%;
                // // gap: 10%;
                // margin: 8% 0%;
                // grid-template-columns: repeat(2, 1fr);
            }


            &__list {
                @media screen and (min-width: 768px) {
                    // display: grid;
                    // grid-template-columns: 0.8fr 2fr;
                }

                img {
                    // display: flex;
                    // width: 100%;
                    // margin: 5% 0%;

                    @media screen and (min-width: 768px) {
                        // margin: 0%;
                        // display: block;
                        // grid-area: 1 / 1 / 3 / 2;
                        // width: 80%;
                        // height: 100%;
                    }
                }

                li {
                    // list-style: decimal inside none;
                    // font-size: 1.6rem;
                    // font-weight: 600;
                }
            }
        }
    }

        // @include windowWidth($winMarg: 0% 5%);
        // background-image: url("./how-work/Vector.svg"), url("./how-work/Vector-1.svg");
        // background-size: 30%, 20%;
        // background-repeat: no-repeat, no-repeat;
        // background-position: 2vw 60px, 25vw 10px;
*/