nav {
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #E5D9E9;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 10fr 1fr;

    &__links {
        box-sizing: border-box;
        padding: 0% 3%;

        a {
            margin: 0.8rem;
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #8902FF;
            font-weight: 700;
            font-size: 18px;
        }
    }

    img {
        min-width: 130px;
        max-width: 160px;
    }
}