.offer {
    padding: 0% 0% 5% 0%;

    @media screen and (min-width: 768px) {
        padding: 0% 0% 0.5% 0%;
    }

    &__info {

        h2 {
            text-align: center;
        }

        &>p {
            text-align: center;
            margin: 5%;

            & a {
                color: $purpleColor;
            }
        }

        &--grid {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);

            }
        }

        &--window {
            @include itemStyle;

            @media screen and (min-width: 768px) {
                margin: 0% 10%;
            }

            img {
                @include itemImageStyle;
            }

            &__header {
                @include itemHeaderStyle;
            }

            &__header--en {
                margin: 0%
            }
        }
    }
}