.projects {
    background-image: url("./projects/proj-back.webp");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 5% 0;
    min-height: 1200px;

    @media screen and (min-width: 768px) {
        min-height: 780px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 1100px;
    }

    &__main {

        h2,
        p {
            color: white;
            text-align: center;
        }

        p {
            font-size: 22px;
        }

        &--projects {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &--project {
            max-width: 688px;
            position: relative;
            margin: 5% 0%;
            box-sizing: border-box;
            border: 7px solid white;
            border-radius: 20px;

            @media screen and (min-width: 768px) {
                margin: 2% 3%;
            }

            &:hover .projects__main--project__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }


            h3 {
                color: #7D1F99;
                font-size: 1.8rem;

                @media screen and (min-width: 768px) {
                    font-size: 2.1rem;
                }
            }

            &:hover img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
            }

            &__text {
                position: absolute;
                top: 0;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 0.9);
                text-align: center;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: none;

                @media screen and (min-width: 768px) {
                    padding: 0% 10%;
                }

                h3 {
                    margin: 0%;
                }

                p {
                    font-size: 18px;
                    margin: 0;
                    color: black;

                    @media screen and (min-width: 1000px) {
                        margin: 2% 0%;
                        font-size: 1.3rem;
                    }
                }

                a {
                    border: 1px solid #B865FF;
                    border-radius: 8px;
                    padding: 1% 2%;
                    margin: 1%;
                    color: #B865FF;
                    font-size: 1.2rem;
                    font-family: $headerFontsSize;

                    @media screen and (min-width: 1000px) {
                        padding: 0% 10%;
                        font-size: 1.4rem;
                    }
                }
            }
        }

    }

}

.no-projects {
    grid-area: 1 / 1 / 2 / 3;
}


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0%;

    &__options {
        background-color: white;
        border-radius: 50px;
        padding: 2% 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding: 0.5% 3%;
            width: 35%;
        }
    }

    p {
        color: #595959;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-size: 18px;
    }

    .active {
        color: $purpleColor;
        font-weight: bold;
    }
}