.projects {
    background-image: url("./projects/proj-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 5% 0;

    &__main {
        // @include windowWidth($winMarg: 0% 3%);
        // @include windowWidth($winMarg: 0% 3%);

        @media screen and (min-width: 768px) {
            // margin: 0 auto;
        }

        h2 {
            color: rgb(250, 250, 250);
            text-align: center;
        }

        &--projects {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &--project {
            max-width: 688px;
            position: relative;
            margin: 5% 0%;

            @media screen and (min-width: 768px) {
                margin: 2% 3%;
            }

            &:hover .projects__main--project__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }


            h3 {
                color: #7D1F99;
                font-size: 1.8rem;

                @media screen and (min-width: 768px) {
                    font-size: 2.1rem;
                }
            }

            &:hover img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
            }

            &__text {
                position: absolute;
                top: 0;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 0.85);
                text-align: center;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: none;

                @media screen and (min-width: 768px) {
                    padding: 0% 10%;
                }

                h3 {
                    margin: 0%;
                }

                p {
                    font-size: 18px;
                    margin: 0;

                    @media screen and (min-width: 1000px) {
                        margin: 2% 0%;
                        font-size: 1.3rem;
                    }
                }

                a {
                    border: 1px solid #B865FF;
                    border-radius: 8px;
                    padding: 1% 2%;
                    margin: 1%;
                    color: #B865FF;
                    font-size: 1.2rem;
                    font-family: $headerFontsSize;

                    @media screen and (min-width: 1000px) {
                        padding: 0% 10%;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}