@import '../../vars/_index.scss';

.offer-bold-text{
    color:$bold-text-color ;
    font-size: $global-L-font-size ;
    margin:50px 150px 0 0;
}

.offer-text{
    color: $text-color ;
    font-size: $global-M-font-size ;
    margin-right: 150px;
}

.offer-grid-container{
    width: 100%;
    display: grid;
    background-color: red;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11% ;

    &__ol{
        background-color: chartreuse;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start:1;
        grid-row-end: 10;

        &--li{
            background-color: blueviolet;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start:1;
            grid-row-end: 4;

            &>div{
               width: 100%; 
               background-color: aquamarine;
                display: grid;
                grid-template-columns: 20% 20% 20% 20% 20%;
                grid-template-rows: 25% 25% 25% 25%;
            }
            
        }

        
    }
    &__img{
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start:2;
        grid-row-end: 9;
        width: 70%;
        height: 100%;
    }
}

