.footer-container {
    width: 100%;
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        &--img {
            width: 37px;
            aspect-ratio: 1/1;
            padding: 5px;
        }
    }
}

.footer-logo-img {
    Width: 443px;
    Height: 193px;
}