.footer-container {
    width: 100%;
    height: 12.68rem; // 203px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        &--img {
            width: 2.3rem;
            aspect-ratio: 1/1;
            padding: 0.3125rem; // 5px;
        }
    }
}

.footer-logo-img {
    Width:27.6rem; // 443px;
    Height:12rem; // 193px;
}

.footer-contact-container{
    font-size: $global-S-font-size;


    &__div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0.5rem 0 0.5rem 2.5rem;

        &--img{
            width: 1.125rem;// 18px;
            height: 1.125rem;// 18px;

            &--p{
                margin: 0 0.3125rem;
            }
        }
    }

}