.footer-container {
    width: 100%;
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        &--img {
            width: 37px;
            aspect-ratio: 1/1;
            padding: 5px;
        }
    }
}

.footer-logo-img {
    Width: 443px;
    Height: 193px;
}

.contact-container{
    font-size: $global-S-font-size;


    &__div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 8px 0 8px 40px;

        &--img{
            width: 18px;
            height: 18px;

            &--p{
                margin: 0 5px;
            }
        }
    }

}