@import '../../vars/_index.scss';


.form-container {
  width: 100%;
  height: 15.625rem; // 250px;
  background-color: $form-background-color;
  //margin-top: 40px;

  &__text {
    margin: 0 7.5rem 0 0;
    color: $green-bold-color;
    font-size: $global-L-font-size;
    padding-top: 1.875rem; // 30px;

    &--p {
      margin: 0.3rem 7.5rem 0 0;
      font-size: $global-S-font-size;
      color: $black-color;


      &--inputs {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 7.5rem;// 120px;

        &--input,
        &--select {
          height: 3.3125rem; //53px
          color: $gray-color;
          background-color: $form-input-background-color ;
          padding-right: 1rem; //15px
          font-size: $global-S-font-size;
          border: none;
          border-radius: 0.5rem; //8px
        }

        &--input {
          width: 11.43rem; //183px
        }

        &--select {
          width: 15.625rem; //250px
          display: inline-block;
          position: relative;
          appearance: none;
          padding: 0 10px;
          color: $gray-color;
          background-color: $white-color;
        }

        &--select>option {
          margin: 10px;
          text-align: right;
          font-size: $global-S-font-size;
        }

        &--select:hover {
          cursor: pointer;
        }

        &--select>option::before {
          cursor: pointer;
          background-color: aqua;
        }

        &--button {
          width: 17.5rem; //280px
          height: 3.3125rem; //53px
          background-color: $form-background-color;
          color: #6b0ac0;
          border: 2.5px solid $green-bold-color;
          font-size: $global-M-font-size;
          border-radius: 0.5rem; //8px
          margin: 2.5% 0;


          &--bold {
            background-color: $form-button-background-color;
            color: $white-color;
            cursor: pointer;
            width: 17.5rem; //280px
            height: 3.3125rem; //53px
            font-size: $global-M-font-size;
            border-radius: 0.5rem; //8px
            margin: 2.5% 0;
            border: none;
          }
        }
      }
    }
  }
}

.input-container {
  position: relative;
  margin: 20px 0;
}

.form-container__text--p--inputs--input {
  font-size: $global-S-font-size;
  color: $black-color;
  padding: 0 10px;
  outline: none;
  background-color: $white-color;

}

.labelLine {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: $global-S-font-size;
  color: $gray-color ;
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
}

.input-container input:focus~label,
.input-container input:valid~label {
  top: -10px;
  font-size: $global-XS-font-size;
  background-color: $form-background-color;
  color: $black-color;
  font-weight: lighter;
}

.input-container input:focus {
  border: 2px solid $black-color ;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon-container {
  position: absolute;
  left: 1.25rem; //20px
  cursor: pointer;
  width: 1.25rem; //20px
  height: 1.25rem; //20px
}

.icon-container>img {
  width: 1.25rem; //20px
  height: 1.25rem; //20px
}

.message{
  margin-bottom: 0;
}

.loader-container{
  width: 1440px;
  height: 15.625rem;
  background-color: rgba(69, 62, 62, 0.6);
  position: absolute;
&__style {
  width: 20px;
  height: 20px;
  top: 45%;
  right: 50%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}
}