.contact-form {
  &__element {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      padding: 0% 0% 2% 0%;
    }

    &--form {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media screen and (min-width: 768px) {
        flex-direction: column;
        width: 80%;
      }

      @media screen and (min-width: 1000px) {
        width: 70%;
      }

      p {
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 100%;
      margin: 10% 0%;

      @media screen and (min-width: 768px) {
        margin: 0%;
      }
    }

    &--form {
      form {
        width: 100%;
        background-color: #ebebeb;
        box-sizing: border-box;
        padding: 3% 2%;
        border-radius: 25px;
        box-shadow: $itemShadow;

        @media screen and (min-width: 768px) {
          width: 90%;
          padding-top: 5%;
        }
      }

      .inputField {
        position: relative;

        p {
          position: absolute;
          font-size: 16px;
          top: -25%;
          color: red;
          margin-right: 2.5%;
        }
      }

      input,
      select {
        box-sizing: border-box;
        width: 95%;
        margin: 3% 2.5%;
        padding: 5% 3%;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid black;
        background: none;

        @media screen and (min-width: 1000px) {
          margin: 2% 2%;
          padding: 3% 2.5%;
        }

        @media screen and (min-width: 1200px) {
          margin: 2% 0%;
          padding: 2.5% 2%;
        }

        &:focus {
          background-color: none;
          outline: none;
        }

        &::placeholder {
          color: black;
        }
      }

      button {
        margin: 10% 2%;
        position: relative;

        @media screen and (min-width: 768px) {
          margin: 5% 2%;
        }

        &:hover:after {
          content: attr(title);
          font-size: 14px;
          background: #fff;
          padding: 5px 12px;
          border: 1px solid #b3b3b3;
          position: absolute;
          bottom: 100%;
          left: 0%;
          transform: translateX(-50%);
        }
      }

      .form-btn_disable {
        color: $purpleColor;
        font-weight: bold;
        width: 16vw;
        min-width: 200px;
        height: 53px;
        border-radius: 8px;
        border: 2px solid $purpleColor;
        font-size: 1.5rem;
      }

      .form-btn_active {
        @include btn;
      }
    }
  }
}